.card {
    .card_contents {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-cards);

        @media (max-width: 920px) {
            flex-direction: column;
        }

        .choosed_order_confirm {
            position: sticky;
            top: 10px;
            max-width: 400px;
            color: var(--white);
            background: var(--base-grey);
            padding: var(--gap-cards);
            box-shadow: 0px 4px 7px 0px var(--active-menu-dark-blue);

            @media (max-width: 920px) {

                max-width: 100%;
            }

            .choosed_order_confirm_top {
                .choosed_order_confirm_first {
                    display: flex;
                    justify-content: space-between;
                    gap: var(--gap-cards);
                    margin: 0 0 20px;
                }
            }

            .choosed_order_confirm_bottom {

                h2 {
                    margin: 20px 0;
                }

                .second_btn {
                    width: 100%;
                    max-width: 800px;
                    border-radius: 24px;
                    padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
                    background-color: var(--button-bg);
                }
            }
        }
    }
}