.card {
    .card_contents {
        display: flex;
        justify-content: start;
        gap: var(--gap-cards);

        @media (max-width: 920px) {
            flex-direction: column;
        }

        .card_content {
            display: flex;
            justify-content: start;
            gap: var(--gap-cards);
            flex-grow: 1;
            margin: var(--gap-cards) 0 0;
            padding: 0 0 10px;

            .choosed_order {
                .order_img {
                    width: 160px;
                }

            }

            .choosed_order_content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                gap: var(--gap-cards);
                margin: auto 0;

                .choosed_order_content_price {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: var(--gap-cards);

                    .counter_btn {
                        width: 100%;
                        max-width: 130px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 24px;
                        padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
                        background-color: var(--dark-background);

                    }
                }
            }
        }

        .choosed_order_confirm {
            width: 100%;
            max-width: 400px;
            background: var(--dark-bg-background);
            padding: var(--gap-cards);
            box-shadow: 0px 4px 7px 0px var(--active-menu-dark-blue);

            @media (max-width: 920px) {
                max-width: 100%;
            }

            .choosed_order_confirm_top {
                .choosed_order_confirm_first {
                    display: flex;
                    justify-content: space-between;
                    gap: var(--gap-cards);
                    margin: 0 0 20px;

                    p {
                        color: var(--base-grey);
                    }
                }
            }

            .choosed_order_confirm_bottom {

                h2 {
                    color: var(--main-green);
                    margin: 20px 0;
                }

                .second_btn {
                    width: 100%;
                    max-width: 800px;
                    border-radius: 24px;
                    padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
                    background-color: var(--button-bg);

                }
            }
        }
    }
}

footer {
    position: static;
    inset: 0;
}