section {
    h1 {
        margin-bottom: var(--gap-cards);
    }

    .products_content {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-cards);

        @media screen and (max-width: 990px) {
            display: block;

        }

        .mobile_filters {
            display: none;

            @media screen and (max-width: 990px) {
                display: flex;
                /* flex-direction: column; */
                gap: var(--gap-cards);

                width: 100%;
                border-radius: var(--space-text-y);
                padding: var(--space-text-y);

                .select_pro {
                    background: var(--base-light);
                    border-radius: 6px;
                }

                .pro_search {
                    padding: var(--space-text-y);
                    background: var(--base-light);
                    border-radius: 6px;
                }
            }
        }

        #filters {
            position: sticky;
            top: 120px;
            display: flex;
            flex-direction: column;
            gap: var(--gap-cards);
            height: 500px;


            width: 100%;
            max-width: 400px;
            background: var(--white);
            border-radius: var(--space-text-y);
            padding: var(--space-text-y);

            @media screen and (max-width: 990px) {
                display: none;
            }

            .select_pro {
                background: var(--base-light);
                border-radius: 6px;
            }

            .pro_search {
                padding: var(--space-text-y);
                background: var(--base-light);
                border-radius: 6px;
            }
        }
    }
}