.category {
    .category_contents {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        .category_content {
            display: flex;
            justify-content: flex-start !important;
            align-items: center;
            gap: 20px;
            border-radius: var(--gap-cards);
            padding: var(--gap-cards);
            transition: all 0.2s;

            &:hover {
                background-color: var(--base-grey);
                transition: all 0.1s;
            }

            .category_item {
                max-width: 80px;
                height: auto;
                cursor: pointer;
                transition: ease 0.3s;

                &:hover {
                    transition: ease 0.2s;
                }
            }
        }
    }
}