form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards);
    margin: var(--gap-cards) 0;

    .double {
        width: 100%;
        display: flex;
        justify-content: start;
        gap: var(--gap-cards);
    }

    .form_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;

        input,
        textarea {
            padding: 6px;
            border: 1px solid var(--base-grey);
            border-radius: 6px;
        }

        textarea {
            width: 100%;
            resize: none;
            height: 100px;
        }
    }
}

button {
    color: var(--white);
}