.section-title{
    margin: 0 0 var(--space-text-y);
}

.faq-item {
    cursor: pointer;
    margin-bottom: var(--space-text-y);
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    background: #f9fafc;
}

.faq-item summary {
    font-weight: 600;
    list-style: none;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item p {
    margin-top: 10px;
    color: #555;
    line-height: 1.6;
}