footer {
    background-color: var(--dark-background);

    .footer_top {
        .footer_top_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            gap: 24px;
            padding: 32px 0;
            color: var(--base-light);

            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                text-align: center;

            }


            .footer_top_content_buttons {
                display: flex;
                justify-content: space-between;
                gap: var(--gap-cards);

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    padding: 15px;
                    border: 1px solid var(--dark-gray);
                }

                @media screen and (max-width: 600px) {
                    margin: 0 auto;
                }
            }
        }
    }

    .footer_bottom {
        background-color: var(--bg-background);

        .footer_bottom_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            padding: 32px 0;
            gap: 24px;
            color: var(--base-gray);

            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                text-align: center;

            }

        }

    }
}