header {
    padding: 24px 0;
    background-color: var(--base-soft-background);

    .navbar_links {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: clamp(0.625rem, 2.08vw, 2.5rem);

        .navbar_link {
            transition: all 0.3s;
        }

        .navbar_link:hover {
            color: var(--main-second);
            transition: all 0.2s;
        }

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    .mobile_menu {
        display: none;

        @media screen and (max-width: 1200px) {
            display: flex;
            justify-content: space-between;
            gap: 24px;

        }
    }
}