.wrapper {
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location_title {
    margin: 0 0 var(--space-text-y);
}

.location-info {
    flex: 1;
    min-width: 300px;
}

.location-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
}

.info-box {
    margin-bottom: 20px;
}

.info-box h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-box p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

.direction-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.direction-btn:hover {
    background: #0056b3;
}

/* RIGHT SIDE */

.location-map {
    flex: 1;
    min-width: 300px;
}

.location-map iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 12px;
}