.hits,
.news {

    .news_cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap-cards);

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .news_card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            cursor: pointer;
            padding: 24px 16px;
            transition: all 0.2s;

            &:hover {
                background-color: var(--dark-bg-background);
                transition: all 0.1s;
            }



            .news_card_top {
                margin: auto 0;

                .news_card_top_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .position_extra_icons {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: clamp(0.875rem, 0.833rem + 0.14vw, 1rem);
                    margin: 0 0 16px;

                    .position_extra_icon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 28px;
                        height: auto;
                        padding: 4px;
                        border-radius: 50%;
                        background-color: var(--main-bg-background);
                    }
                }
            }

            .news_card_bottom {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    color: var(--base-grey);
                }

                ul {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: clamp(0.875rem, 0.833rem + 0.14vw, 1rem);
                    color: var(--base-grey);
                    margin: 0 0 clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem);
                }

                .news_card_bottom_content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        align-items: start;
                    }

                    h3 {
                        color: var(--base-light);
                        font-weight: 400;
                    }

                }
            }
        }
    }
}