.product_details {
    display: flex;

    .product_detail_con {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: var(--gap-cards);
    }

    .product_detail_sub_con {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: var(--gap-cards);
        background-color: var(--white);
        padding: var(--space-text-y);
        border-radius: 8px;
    }

    .product_detail_sub_second_con {
        display: flex;
        flex-direction: column;
        gap: var(--space-text-y);
    }

}

.checkout-wrapper {
    width: 100%;
    max-width: 500px;
    background-color: var(--white);
    padding: var(--space-text-y);
    border-radius: 6px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-text-y);

    input {
        border: 1px solid var(--base-light);
        padding: var(--space-text-y);
        border-radius: 6px;
    }
}