.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-cards);
    margin: var(--space-text-y) 0;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .news_card {
        display: flex;
        height: 100%;
        flex-direction: column;
        color: var(--active-menu-dark-blue);
        width: 100%;
        max-width: 500px;
        cursor: pointer;
        padding: 24px 16px;
        transition: all 0.2s;


        &:hover {
            background-color: var(--base-grey);
            transition: all 0.1s;

        }

        .news_card_top {
            margin: auto 0;

            .news_card_top_img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 20px;
            }
        }

        .news_card_bottom {
            display: flex;
            flex-direction: column;
            gap: 8px;

            ul {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: clamp(0.875rem, 0.833rem + 0.14vw, 1rem);
                margin: 0 0 clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem);
            }

            .news_card_bottom_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: start;
                }
            }
        }
    }

    .product img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .product h3 {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .product p {
        font-size: 1rem;
        font-weight: bold;
    }
}