body {
    height: 100%;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: var(--dark);
    font-family: var(--main-font);
    background-color: var(--base-light);

    .section_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 var(--space-section-title-y);

        .section_top_link {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }

    .logo-size {
        max-width: 40px;
    }

    .card_image {
        width: 100%;
        max-width: 180px;
    }

    .unfound {
        color: var(--main-red);
    }


    .news_cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-text-y);

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .news_card {
            display: flex;
            width: 100%;
            flex-direction: column;
            color: var(--active-menu-dark-blue);
            max-width: 500px;
            cursor: pointer;
            padding: 24px 16px;
            transition: all 0.2s;


            &:hover {
                background-color: var(--base-grey);
                transition: all 0.1s;

            }

            .news_card_top {
                display: flex;
                flex-direction: column;
                gap: var(--space-text-y);

                margin: 20px 0;
            }

            .news_card_top_img {
                display: flex;
                justify-content: center;
                margin: auto 0;
            }

        }
    }

    .double_btns {
        display: flex;
        justify-content: space-between;
        gap: var(--space-text-y);
    }

    .hidden {
        display: none;
    }

    .active_menu {
        display: flex;
    }

    .menu_bar {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10000;
        padding: clamp(1.25rem, 1.083rem + 0.35vw, 1.5rem) 0;
        background-color: var(--active-menu-dark-blue);

        .menu_bar_bg {
            display: flex;
            flex-direction: column;
            gap: var(--space-section-title-y);

            .menu_bar_top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menu_bar_top_right {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-cards);

                }
            }

            .menu_bar_bottom {
                display: flex;
                justify-content: space-between;
                align-items: start;
                gap: var(--gap-cards);

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                .menu_bar_bottom_links {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-cards);
                }


                .menu_bar_top_right_lang {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    .menu_bar_bottom_right_lang_btn {
                        border: 2px solid var(--dark-gray);
                        border-radius: 32px;
                        padding: 12px 24px;
                        color: var(--base-grey);

                        &.active_lang {
                            border: 2px solid var(--button-bg);
                        }
                    }
                }
            }
        }
    }

    .nav_bar {
        width: 100%;
        height: auto;
        z-index: 10;
        position: fixed;
        top: 0;
        box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.14);
        padding: 10px 0;
        color: var(--white);
        background-color: var(--main-dark-blue);

        .nav_top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav_menu {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: var(--gap-cards);
            }

            .search_label {
                width: 30%;
                height: 30px;
                display: flex;
                background-color: #f1f1f1;
                padding: 4px 10px;
                border-radius: 8px;

                input {
                    width: 100%;
                    padding: 0 0 0 4px;
                    color: var(--dark-background);
                }

                img {
                    width: 20px;
                    height: 20px;
                    margin: auto;
                }

            }

            .nav_extra_items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--gap-cards);

                .nav_link {
                    color: var(--white);
                    opacity: 100%;
                    transition: 0.2s all;
                }

                .nav_link:hover {
                    opacity: 50%;
                    transition: 0.3s all;
                }

                .nav_extra_item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;

                    .cart-count {
                        position: absolute;
                        top: -10px;
                        right: 0;
                        background: var(--main-red);
                        padding: 2px 5px;
                        border-radius: 50%;

                    }
                }

            }


        }

        .nav_bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0;

            .nav_bottom_links {
                display: flex;
                align-items: center;
                gap: var(--gap-cards);

                .nav_link {
                    color: var(--white);
                    opacity: 100%;
                    transition: 0.2s all;
                }

                @media (max-width: 768px) {
                    .nav_link {
                        display: none;
                    }
                }

                .nav_link:hover {
                    opacity: 50%;
                    transition: 0.3s all;
                }
            }

        }

    }

}

.bottom_bar_bottom {
    display: none;
}

@media (max-width: 768px) {
    .bottom_bar_bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        z-index: 10;
        color: var(--white);
        background-color: var(--main-dark-blue);

        .bottom_bar_items {
            width: 100%;
            padding: 20px 0;

            display: flex;
            justify-content: space-between;
            align-self: center;

            .bottom_bar_item {

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

.cards_button {
    max-width: 130px;
    border-radius: 24px;
    padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
    background-color: var(--button-bg);

    @media screen and (max-width: 768px) {
        max-width: 280px;
    }
}

.second_button {
    width: 100%;
    max-width: 130px;
    border-radius: 24px;
    padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
    background-color: var(--button-bg);

    @media screen and (max-width: 768px) {
        max-width: 800px;
    }
}

.counter_button {
    width: 100%;
    max-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
    background-color: var(--dark-background);

    @media screen and (max-width: 768px) {
        max-width: 800px;
    }
}

section {
    margin: var(--space-section-y) 0;
    min-height: 100%;
}


@media screen and (max-width: 768px) {
    footer {
        margin: 0 0 15%;
    }
}


.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 var(--container-x);
    margin: 0 auto;
}

.icon {
    width: clamp(1.25rem, 1.083rem + 0.35vw, 1.5rem);
}

.text_xl {
    font-size: clamp(0.875rem, 0.833rem + 0.14vw, 1rem);
}

.text_lg {
    font-size: clamp(0.75rem, 0.708rem + 0.14vw, 0.875rem);
}

.text_md {
    font-size: clamp(0.625rem, 0.583rem + 0.14vw, 0.75rem);
}


h1 {
    font-size: clamp(1.5rem, 1.125rem + 1.25vw, 2.625rem);
}

h2 {
    font-size: clamp(1.125rem, 0.917rem + 0.69vw, 1.75rem);
}

h3 {
    font-size: clamp(1rem, 0.875rem + 0.42vw, 1.375rem);
}

h4 {
    font-size: clamp(0.875rem, 0.833rem + 0.14vw, 1rem);
}

h5 {
    font-size: clamp(0.75rem, 0.708rem + 0.14vw, 0.875rem);
}