:root {
    --main-font: "Inter", sans-serif;
    /* Fonts */
    --extra-sz: clamp(6.25rem, 0.176rem + 19.44vw, 23.5rem);
    /* Font-size */
    --white: #ffffff;
    --button-bg: #9466FF;
    --main-dark-blue: #273A64;
    --active-menu-dark-blue: #101828;
    --main-orange: #FF4F12;
    --main-purpile: #7700FF;
    --main-red: #FF4747;
    --main-yellow: #FFCA00;
    --main-blue: #4075FF;
    --main-pink: #FFBFC3;
    --main-green: #26DA72;
    --dark-green: #16D9A6;
    --main-bg-background: #1D2533;
    --base-light: #E8E9EA;
    --base-grey: #A5A8AD;
    --base-gray: #777C85;
    --dark-gray: #565C66;
    --bg-background: #242C39;
    --dark-background: #333A47;
    --dark-bg-background: #2A323F;
    /* Colors */
    --width-map-frame: clamp(37.5rem, 32.353rem + 19.61vw, 50rem);
    --container-x: clamp(1rem, -2.833rem + 12.78vw, 12.5rem);
    --space-section-title-y: clamp(0.75rem, 0.167rem + 1.94vw, 2.5rem);
    --space-section-y: clamp(4rem, 3.667rem + 1.11vw, 5rem);
    --space-text-y: clamp(0.5rem, 0.397rem + 0.39vw, 0.75rem);
    /* Padding */
    --gap-cards: clamp(0.625rem, 0.167rem + 1.53vw, 2rem);
}