:root {
    --main-font: "Poppins", sans-serif;
    /* Fonts */
    --white: #ffffff;
    --main-primary: #eb6d20;
    --main-second: #eb8426;
    --base-border: #e9e9e9;
    --base-background: #fdfdfd;
    --base-soft-background: #fff9f3;
    --base-gray-background: #f5f6f8;
    --text-light-color: #d6d6d6;
    --text-medium-color: #5f5f5f;
    --text-regular-color: #303030;
    --text-none-color: #121212;
    --text-thick-black: #040404;
    --text-middle-black: #0b0b0b;
    --text-soft-black: #1b1b1b;
    --text-main-color: #3e3e3e;
    --text-color-subtext: #9a9a9a;
    --text-color-paragraph: #292929;
    --sys-success-color: #6db95a;
    --sys-error-color: #dd5e5e;
    --sys-warning-color: #d89614;
    --sys-url-color: #177ddc;
    /* Colors */
    --container-x: clamp(1rem, -4.917rem + 19.72vw, 18.75rem);
    /* Padding */
}