@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Links */

@import "./base/base.css";
@import "./base/reset.css";
@import "./base/vars.css";
/* Base */

@import "./blocks/header.module.css";
@import "./blocks/main.module.css";
@import "./blocks/footer.module.css";
@import "./blocks/category.module.css";
@import "./blocks/news.module.css";
@import "./blocks/live_our_brend.module.css";